Listen {{ item.proxy_port }} https

<VirtualHost *:{{ item.proxy_port }}>
  ServerName nexus11.ru-central1.internal
  ServerAdmin admin@example.com

  AllowEncodedSlashes NoDecode
  ProxyRequests Off
  ProxyPreserveHost On

  SSLEngine ON
  SSLCertificateFile {{ certificate_file_dest }}/{{ httpd_ssl_certificate_file | basename }}
  SSLCertificateKeyFile {{ certificate_key_dest }}/{{ httpd_ssl_certificate_key_file | basename }}

  ProxyTimeout 300
  ProxyPass / http://localhost:{{ item.http_port }}{{ nexus_default_context_path }}
  ProxyPassReverse / http://localhost:{{ item.http_port }}{{ nexus_default_context_path }}
  RequestHeader set X-Forwarded-Proto "https"
</VirtualHost>